# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/

# Build data
public
static/admin/*.bundle.*
.DS_Store
yarn-error.log

# IDE settings
.vscode

# Unit test snapshots
__tests__/__snapshots__
