backend:
  name: github
  repo: Softwire/strawberry-fair
  branch: sf-64
  commit_messages:
    create: Netlify CMS - Create {{collection}} “{{slug}}”
    update: Netlify CMS - Update {{collection}} “{{slug}}”
    delete: Netlify CMS - Delete {{collection}} “{{slug}}”
    uploadMedia: Netlify CMS - Upload “{{path}}”
    deleteMedia: Netlify CMS - Delete “{{path}}”

media_folder: /frontend/static/img
public_folder: /img
publish_mode: editorial_workflow


collections:
  - name: "pages"
    label: "Pages"
    files:
      - file: "frontend/src/pages/index.md"
        label: "Home Page"
        name: "home"
        fields:
          - {label: "Template Key", name: templateKey, widget: hidden, default: home-page}
          - {label: Title, name: title, widget: string}
          - {label: Body, name: body, widget: hidden, default: "placeholder"}
          - {label: Image, name: image, widget: image}
          - label: Content-Blocks
            name: contentBlocks
            widget: list
            fields:
              - {label: Content-Title, name: contentTitle, widget: string}
              - {label: Content-Subtitle, name: contentSubtitle, widget: string}
              - {label: Scrapbook-Images, name: scrapbookImages, widget: list, field: {label: ScrapbookImage, name: scrapbookImage, widget: image}}
              - {label: Content-Body, name: _markdown_contentBody, widget: markdown}
              - {label: Side-Snippet, name: sideSnippet, widget: string}
          - {label: Banner, name: hero, widget: hero}
          - {label: Body, name: body, widget: markdown}
          - label: Content-Blocks
            name: contentBlocks
            widget: list
            fields:
              - {label: Content-Title, name: title, widget: string}
              - {label: Content-Subtitle, name: subtitle, widget: string}
              - {label: Scrapbook-Images, name: scrapbookImages, widget: list, field: {label: ScrapbookImage, name: scrapbookImage, widget: image}}
              - {label: Content-Body, name: _markdown_contentBody, widget: markdown}
              - {label: Side-Snippet, name: sideSnippet, widget: string}
          - label: Calendar-Block
            name: calendarBlock
            widget: object
            fields: 
              - {label: Calendar-Title, name: title, widget: string}
              - {label: Calendar-Subtitle, name: subtitle, widget: string}
          - label: News-Block
            name: newsBlock
            widget: object
            fields: 
              - {label: News-Title, name: title, widget: string}
              - {label: News-Subtitle, name: subtitle, widget: string}
          - label: Twitter-Block
            name: twitterBlock
            widget: object
            fields: 
              - {label: Twitter-Title, name: title, widget: string}
              - {label: Twitter-Subtitle, name: subtitle, widget: string}
      - file: "frontend/src/pages/news/index.md"
        label: "News Home"
        name: "news-home"
        fields:
          - {label: "Template Key", name: templateKey, widget: hidden, default: news-overview}
          - {label: Title, name: title, widget: string}
          - {label: Body, name: body, widget: markdown}
          - {label: Subtitle, name: subtitle, widget: string}
          - {label: ACCImage, name: accimage, widget: accessible-image}
          - {label: MultiImage, name: multi, widget: multi-image}
          - {label: hero, name: hero, widget: hero}
      - file: "frontend/src/pages/calendar.md"
        label: "Calendar Page"
        name: "calendar-page"
        fields:
          - {label: "Template Key", name: templateKey, widget: hidden, default: calendar-page}
          - {label: Body, name: body, widget: markdown}
      - file: "frontend/src/pages/privacy.md"
        label: "Privacy Page"
        name: "privacy-page"
        create: true
        fields:
          - {label: "Template Key", name: templateKey, widget: hidden, default: about-page}
          - {label: Title, name: title, widget: string}
          - {label: Subtitle, name: subtitle, widget: string}
          - {label: Image, name: image, widget: image}
          - {label: Body, name: body, widget: markdown}
      - file: "frontend/src/pages/events/index.md"
        label: "Upcoming Events"
        name: "upcoming-events"
        fields:
          - {label: "Template Key", name: templateKey, widget: hidden, default: upcoming-events}
          - {label: Body, name: body, widget: markdown}
  - name: "news"
    label: "News Articles"
    folder: "frontend/src/pages/news/"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", name: templateKey, widget: hidden, default: news-article}
      - {label: Title, name: title, widget: string}
      - {label: Author, name: author, widget: string}
      - {label: Image, name: image, widget: image}
      - {label: Body, name: body, widget: markdown}
      - {label: Date, name: date, widget: datetime, format: YYYY-MM-DD, dateFormat: YYYY-MM-DD, timeFormat: false}
      - {label: Tags, name: tags, widget: list, default: ["news"]}
  - name: "events"
    label: "Events"
    folder: "frontend/src/pages/events/"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Will need to figure out the syntax to change this, because what if
    fields:                                     # you have two events on the same day?
      - {label: "Template Key", name: templateKey, widget: hidden, default: event-info}
      - {label: Title, name: title, widget: string}
      - {label: Image, name: image, widget: image}
      - {label: Date, name: dateTime, widget: datetime}
      - label: 'Event type(s)'
        name: eventTypes
        widget: select
        options:
        - 'Benefit gig'             # IF YOU UPDATE THIS LIST
        - 'Meeting - Programming'   # MAKE SURE YOU UPDATE IT IN
        - 'Meeting - Finance'       # src/components/calendar/Events.jsx
        - 'Band competition'        # AS WELL
        multiple: true
      - {label: Body, name: body, widget: markdown}
  - name: "about"
    label: "About"
    folder: "frontend/src/pages/about/"
    create: true
    fields:
      - {label: "Template Key", name: templateKey, widget: hidden, default: about-page}
      - {label: Title, name: title, widget: string}
      - {label: Subtitle, name: subtitle, widget: string}
      - {label: Image, name: image, widget: image}
      - {label: Body, name: body, widget: markdown}
  - name: "forms"
    label: "Forms"
    folder: "frontend/src/pages/forms/"
    create: true
    fields:                                    
      - {label: "Template Key", name: templateKey, widget: hidden, default: form}
      - {label: Title, name: title, widget: string}
      - {label: Body, name: body, widget: markdown}
      - {label: Form, name: googleForm, widget: string}

  - label: Nav Bar Item
    name: navbar
    folder: frontend/src/pages/navbar/
    fields:
      - {label: Title, name: title, widget: string}
      - label: Page Titles
        name: pageTitles
        widget: list
        hint: Items can only be added or deleted, but not edited
        fields: 
          - label: Page Title
            name: pageTitle
            widget: multi-collection-relation
            options: [Events, About, Forms]
            searchFields: [title]
            valueField: title
            displayFields: [title]
