backend:
  name: git-gateway
  branch: production
  accept_roles:
    - admin
    - content
  commit_messages:
    create: Netlify CMS - Create {{collection}} “{{slug}}”
    update: Netlify CMS - Update {{collection}} “{{slug}}”
    delete: Netlify CMS - Delete {{collection}} “{{slug}}”
    uploadMedia: Netlify CMS - Upload “{{path}}”
    deleteMedia: Netlify CMS - Delete “{{path}}”

media_folder: /frontend/static/img
public_folder: /img
publish_mode: editorial_workflow


definitions:
  - &key {label: Template Key, name: templateKey, widget: hidden}
  - &title {label: Title, name: title, widget: string}
  - &subtitle {label: Subtitle, name: subtitle, widget: string, required: false}
  - &hero {label: Banner, name: heroData, widget: hero, required: false}
  - &body {label: Main Content, name: body, widget: markdown}
  - &newsImage {label: Primary Image, name: image, widget: image, hint: This image will also be used as a preview image for the article}
  - &eventImage {label: Event Image, name: image, widget: image, hint: This image will also be used as a preview image for the event}
  - &form {label: Form, name: form, widget: form}
  - &author {label: Author, name: author, widget: string}
  - &date {label: Date, name: date, widget: datetime, format: YYYY-MM-DD, dateFormat: YYYY-MM-DD, timeFormat: false}
  - &dateTime {label: Start Time, name: dateTime, widget: datetime}
  - &tags {label: Tags, name: tags, widget: list, default: ["news"]}
  - &menuTitle {label: NavBar Dropdown Title, name: title, widget: string}
  - &internalLink {label: Link, name: link, widget: link, hint: Choose the path to the page you want this link to point to. Select "<-- Previous Menu" to undo your last selection.  Make sure you select a complete path by either ending your selection with "index" or checking that the link is displayed on this widget.}
  - &text {label: Text, name: text, widget: string}
  - contentBlock: &contentBlock
      label: Content Blocks
      name: contentBlocks
      widget: list
      fields:
        - {label: Content Block Title, name: title, widget: string}
        - {label: Content Block Subtitle, name: subtitle, widget: string}
        - {label: Scrapbook Images, name: scrapbookImages, widget: list, field: {label: Scrapbook Image, name: scrapbookImage, widget: image}}
        - {label: Content Block Body, name: _markdown_contentBody, widget: markdown}
        - {label: Strawberry Tile, name: sideSnippet, widget: string}
  - calendarBlock: &calendarBlock
      label: Calendar Block
      name: calendarBlock
      widget: object
      fields: 
        - {label: Calendar Block Title, name: title, widget: string}
        - {label: Calendar Block Subtitle, name: subtitle, widget: string}
  - newsBlock: &newsBlock
      label: News Block
      name: newsBlock
      widget: object
      fields: 
        - {label: News Block Title, name: title, widget: string}
        - {label: News Block Subtitle, name: subtitle, widget: string}
  - twitterBlock: &twitterBlock
      label: Twitter Block
      name: twitterBlock
      widget: object
      fields: 
        - {label: Twitter Block Title, name: title, widget: string}
        - {label: Twitter Block Subtitle, name: subtitle, widget: string}
  - eventTypes: &eventTypes
      label: 'Event Type(s)'
      name: eventTypes
      widget: select
      options:
      - 'Benefit gig'             # IF YOU UPDATE THIS LIST
      - 'Meeting - Programming'   # MAKE SURE YOU UPDATE IT IN
      - 'Meeting - Finance'       # src/components/calendar/Events.jsx
      - 'Band competition'        # AS WELL
      multiple: true
  - pageTitles: &pageTitles
      label: Page Titles
      name: pageTitles
      widget: list
      hint: Items can only be added or deleted, but not edited
      fields: 
        - label: Page Title
          name: pageTitle
          widget: multi-collection-relation
          options: [Pages, Events, About, Forms]
          pagesOptions: [Calendar Page, Upcoming Events]
          searchFields: [title]
          valueField: title
          displayFields: [title]
  - strawberryTiles: &strawberryTiles
      label: Strawberry Tiles
      name: strawberryTiles
      widget: list
      required: false
      field:
        - label: "Text"
          name: "text"
          widget: "string"
          pattern: ["something", "200 characters max"]
          hint: "200 characters max"
collections:
  - name: "pages"
    label: "Pages"
    files:
      - file: "frontend/src/pages/index.md"
        label: "Home Page"
        name: "home"
        fields:
          - {<<: *key, default: home-page}
          - *title
          - *subtitle
          - *hero
          - *contentBlock
          - *calendarBlock
          - *newsBlock
          - *twitterBlock
      - file: "frontend/src/pages/news/index.md"
        label: "News Home"
        name: "news-home"
        fields:
          - {<<: *key, default: news-overview}
          - *title
          - *subtitle
          - *hero
          - *body
      - file: "frontend/src/pages/calendar.md"
        label: "Calendar Page"
        name: "calendar-page"
        fields:
          - {<<: *key, default: calendar-page}
          - *hero
      - file: "frontend/src/pages/privacy.md"
        label: "Privacy Page"
        name: "privacy-page"
        fields:
          - {<<: *key, default: about-page}
          - *title
          - *subtitle
          - *hero
          - *body
      - file: frontend/src/pages/contact.md
        label: "Contact Page"
        name: contact-page
        fields:
          - {<<: *key, default: about-page}
          - *title
          - *subtitle
          - *hero
          - *body
      - file: "frontend/src/pages/events/index.md"
        label: "Upcoming Events"
        name: "upcoming-events"
        fields:
          - {<<: *key, default: upcoming-events}
          - *hero
  - name: "news"
    label: "News Articles"
    folder: "frontend/src/pages/news/"
    filter: {field: templateKey, value: news-article}
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {<<: *key, default: news-article}
      - *title
      - *subtitle
      - *hero
      - *author
      - *date
      - *newsImage
      - *body
      - *tags
  - name: "events"
    label: "Events"
    folder: "frontend/src/pages/events/"
    filter: {field: templateKey, value: event-info}
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Will need to figure out the syntax to change this, because what if
    fields:                                     # you have two events on the same day?
      - {<<: *key, default: event-info}
      - *title
      - *subtitle
      - *hero
      - *dateTime
      - *eventImage
      - *body
      - *eventTypes
  - name: "about"
    label: "About"
    folder: "frontend/src/pages/about/"
    filter: {field: templateKey, value: about-page}
    create: true
    fields:
      - {<<: *key, default: about-page}
      - *title
      - *subtitle
      - *hero
      - *body
      - *strawberryTiles
  - name: "forms"
    label: "Forms"
    folder: "frontend/src/pages/forms/"
    filter: {field: templateKey, value: form}
    create: true
    fields:                                    
      - {<<: *key, default: form}
      - *title
      - *subtitle
      - *hero
      - *body
      - *form
  - name: "header-and-footer"
    label: "Header And Footer"
    files:
      - file: "frontend/src/pages/header-and-footer/buttons/get-involved.md"
        label: "Get Involved"
        name: "get-involved"
        fields:
          - *text
          - *internalLink
      - file: "frontend/src/pages/header-and-footer/buttons/apply-to-trade.md"
        label: "Apply to Trade"
        name: "apply-to-trade"
        fields:
          - *text
          - *internalLink
  - label: Site Navigation
    name: navbar
    folder: frontend/src/pages/navbar/
    description: Customise which pages appear in each dropdown menu in the Navigation Bar
    summary: "Dropdown: {{title}}"
    fields:
      - *menuTitle
      - *pageTitles
