backend:
  name: github
  repo: Softwire/strawberry-fair
  branch: sf-132
  commit_messages:
    create: Netlify CMS - Create {{collection}} “{{slug}}”
    update: Netlify CMS - Update {{collection}} “{{slug}}”
    delete: Netlify CMS - Delete {{collection}} “{{slug}}”
    uploadMedia: Netlify CMS - Upload “{{path}}”
    deleteMedia: Netlify CMS - Delete “{{path}}”

media_library:
  name: cloudinary
  config:
    cloud_name: strawberryfair
    api_key: 631814456675255
public_folder: /img
publish_mode: editorial_workflow


definitions:
  - &key {label: Template Key, name: templateKey, widget: hidden}
  - &title {label: Title, name: title, widget: string}
  - &subtitle {label: Subtitle, name: subtitle, widget: string, required: false}
  - &hero {label: Banner, name: heroData, widget: hero, required: false}
  - &body {label: Main Content, name: body, widget: markdown}
  - &form {label: Form, name: form, widget: form}
  - &author {label: Author, name: author, widget: string}
  - &date {label: Date, name: date, widget: datetime, format: YYYY-MM-DD, dateFormat: YYYY-MM-DD, timeFormat: false}
  - &eventDateTimeRange {label: Event Timing, name: dateTimeRange, widget: dateTimeRange}
  - &tags {label: Tags, name: tags, widget: list, hint: "A list of tags that apply to this news article", default: ["news"]}
  - &menuTitle {label: NavBar Dropdown Title, name: title, widget: string}
  - &internalLink {label: Link, name: link, widget: link, hint: Choose the path to the page you want this link to point to. Select "<-- Previous Menu" to undo your last selection.  Make sure you select a complete path by either ending your selection with "index" or checking that the link is displayed on this widget.}
  - &text {label: Text, name: text, widget: string}
  - &email {label: Email, name: email, widget: string}
  - &facebook {label: Facebook Account, name: facebookAccount, widget: string}
  - &twitter {label: Twitter Account, name: twitterAccount, widget: string}
  - &invitationText {label: Invitation Text, name: invitationText, widget: string}
  - &emailSubscriptionText {label: Email Subscription Text, name: emailSubscriptionText, widget: string}
  - &emailSubscriptionLink {label: Email Subscription Link, name: emailSubscriptionLink, widget: string}
  - &copyright {label: Copyright, name: copyright, widget: string}
  - &notes {label: Editor's notes, name: notes, widget: notes, required: false, hint: "Warning: content written here will not be published on the website but will be publicly visible on github"}
  - &interjection {label: Interjection, name: interjection, widget: string}
  - &info {label: Error Info, name: info, widget: string}
  - &featuredArticle {label: Featured Article, name: featuredTitle, widget: relation, collection: news, searchFields: [title, author, date], displayFields: [title, date], valueField: uniqueID, required: false}
  - strawberryTile: &strawberryTile
      label: Strawberry Tile
      name: strawberryTile
      widget: object
      hint: "A \"Strawberry Tile\" is a red box, set aside from the rest of the page's content, that can be used for extra information or emphasis"
      fields:
        - {label: Display Tile, name: isPublic, widget: boolean, default: false, hint: "Should this Strawberry Tile be shown?"}
        - {label: Text, name: text, widget: text, required: false, hint: 140 characters max, pattern: ["^.{0,140}$", "Must have less than 140 characters"]}
  - scrapbookImages: &scrapbookImages
      label: Scrapbook Images
      name: scrapbookImages
      widget: list
      hint: "Choose a series of images to accompany this content block, separating it from the rest of the page. Warning: this will be rendered above the title of this content block"
      fields:
        - {label: "Description", name: "alt", widget: "string"}
        - {label: "Image File", name: "src", widget: "image"}
  - contentBlock: &contentBlock
      label: Content Blocks
      name: contentBlocks
      widget: list
      hint: "A content block is just a block of formatted text that appears on the homepage"
      fields:
        - {label: Content Block Title, name: title, widget: string}
        - {label: Content Block Subtitle, name: subtitle, widget: string}
        - {label: Content Block Body, name: _markdown_contentBody, widget: markdown}
        - *strawberryTile
        - *scrapbookImages
  - calendarBlock: &calendarBlock
      label: Calendar Block
      name: calendarBlock
      widget: object
      hint: "A block on the homepage that shows a list of the 4 soonest upcoming events"
      fields: 
        - {label: Calendar Block Title, name: title, widget: string}
        - {label: Calendar Block Subtitle, name: subtitle, widget: string}
  - newsBlock: &newsBlock
      label: News Block
      name: newsBlock
      widget: object
      hint: "A block on the homepage that shows overviews of some of the most recent blog posts/news articles"
      fields: 
        - {label: News Block Title, name: title, widget: string}
        - {label: News Block Subtitle, name: subtitle, widget: string}
  - twitterBlock: &twitterBlock
      label: Twitter Block
      name: twitterBlock
      widget: object
      hint: "A block on the homepage showing the most recent tweets from the Strawberry Fair Twitter account"
      fields: 
        - {label: Twitter Block Title, name: title, widget: string}
        - {label: Twitter Block Subtitle, name: subtitle, widget: string}
  - eventTypes: &eventTypes
      label: 'Event Type(s)'
      name: eventTypes
      widget: select
      hint: "Select the event types that apply to this event"
      options:
      - 'Benefit gig'             # IF YOU UPDATE THIS LIST
      - 'Meeting - Programming'   # MAKE SURE YOU UPDATE IT IN
      - 'Meeting - Finance'       # src/components/calendar/EventType.js
      - 'Band competition'        # AS WELL
      - 'Other'
      multiple: true
  - pageTitles: &pageTitles
      label: Page Titles
      name: pageTitles
      widget: list
      hint: Items can only be added or deleted, but not edited
      fields: 
        - label: Page Title
          name: pageTitle
          widget: multi-collection-relation
          options: [Pages, Events, About, Forms]
          pagesOptions: [Calendar Page, Upcoming Events]
          searchFields: [title]
          valueField: title
          displayFields: [title]
  - strawberryTiles: &strawberryTiles
      label: Strawberry Tiles
      name: strawberryTiles
      widget: list
      required: false
      fields: 
        - *strawberryTile
  - form: &form
      label: Form
      name: form
      widget: object
      hint: "Embed a form on this page for visitors to the site to fill in"
      fields:
        - {label: "Display form", name: "isPublic", widget: "boolean"}
        - {label: "Google Form Embed HTML", name: "link", widget: "string", hint: "Copy and paste Embed HTML from your Google Form"}
  - accessibleImage: &accessibleImage
      label: Accessible Image
      name: image
      widget: object
      hint: "Add an image and a description"
      fields:
        - {label: "Description", name: "alt", widget: "string"}
        - {label: "Image File", name: "src", widget: "image"}
  - optionalAccessibleImage: &optionalAccessibleImage
      label: Accessible Image
      name: image
      widget: object
      hint: "Add an image and a description"
      fields:
        - {label: "Description", name: "alt", widget: "string"}
        - {label: "Image File", name: "src", widget: "image"}
        - {label: "Display image on this page", name: "shouldDisplay", widget: "boolean", default: true, hint: This image will still be used as a preview on other pages, but will not be used for the page itself}
  - &newsImage {<<: *optionalAccessibleImage, label: Primary Image, hint: Select to use the image in this page}
  - &eventImage {<<: *optionalAccessibleImage, label: Event Image, hint: This image will always be used as a preview image for the event}
  - address: &address 
      label: Address
      name: address
      widget: object
      fields: 
        - {label: Address Line 1, name: firstLine, widget: string}
        - {label: Address Line 2, name: secondLine, widget: string}
        - {label: Address Line 3, name: thirdLine, widget: string}
  - &cookiesPrimaryText {label: Primary Text, name: primaryText, widget: string}
  - &cookiesSecondaryText {label: Secondary Text, name: secondaryText, widget: string}
  - cookiesButtons: &cookiesButtons
      label: Button Text
      name: buttons
      widget: object
      fields:
        - {label: Accept Cookies, name: accept, widget: string}
        - {label: Decline Cookies, name: decline, widget: string}
        - {label: Read Policy, name: policy, widget: string}

collections:
  - name: "pages"
    label: "Pages"
    delete: false
    files:
      - file: "frontend/src/pages/404.md"
        label: "404 Page"
        name: "404"
        fields:
          - {<<: *key, default: page-not-found}
          - *title
          - *interjection
          - *info
          - *accessibleImage
      - file: "frontend/src/pages/index.md"
        label: "Home Page"
        name: "home"
        fields:
          - {<<: *key, default: home-page}
          - *title
          - *subtitle
          - *hero
          - *contentBlock
          - *calendarBlock
          - *newsBlock
          - *twitterBlock
          - *notes
      - file: "frontend/src/pages/news/index.md"
        label: "News Home"
        name: "news-home"
        fields:
          - {<<: *key, default: news-overview}
          - *title
          - *subtitle
          - *featuredArticle
          - *hero
          - *notes
      - file: "frontend/src/pages/calendar.md"
        label: "Calendar Page"
        name: "calendar-page"
        fields:
          - {<<: *key, default: calendar-page}
          - *hero
          - *notes
      - file: frontend/src/pages/contact.md
        label: "Contact Page"
        name: contact-page
        fields:
          - {<<: *key, default: about-page}
          - *title
          - *subtitle
          - *hero
          - *body
          - *notes
      - file: "frontend/src/pages/events/index.md"
        label: "Upcoming Events"
        name: "upcoming-events"
        fields:
          - {<<: *key, default: upcoming-events}
          - *hero
          - *notes
  - name: "news"
    label: "News Articles"
    folder: "frontend/src/pages/news/"
    filter: {field: templateKey, value: news-article}
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {<<: *key, default: news-article}
      - { label: News Article, name: uniqueID, widget: "id"}
      - *title
      - *subtitle
      - *hero
      - *author
      - *date
      - *newsImage
      - *body
      - *tags
      - *notes
  - name: "events"
    label: "Events"
    folder: "frontend/src/pages/events/"
    filter: {field: templateKey, value: event-info}
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Will need to figure out the syntax to change this, because what if
    fields:                                     # you have two events on the same day?
      - {<<: *key, default: event-info}
      - *title
      - *subtitle
      - *hero
      - *eventDateTimeRange
      - *eventImage
      - *body
      - *eventTypes
      - *notes
  - name: "about"
    label: "About"
    folder: "frontend/src/pages/about/"
    filter: {field: templateKey, value: about-page}
    create: true
    fields:
      - {<<: *key, default: about-page}
      - *title
      - *subtitle
      - *hero
      - *body
      - *strawberryTiles
      - *notes
  - name: "forms"
    label: "Forms"
    folder: "frontend/src/pages/forms/"
    filter: {field: templateKey, value: form}
    create: true
    fields:                                    
      - {<<: *key, default: form}
      - *title
      - *subtitle
      - *hero
      - *body
      - *form
      - *notes
  - name: "header-and-footer"
    label: "Header And Footer"
    delete: false
    files:
      - file: "frontend/src/pages/header-and-footer/footer.md"
        label: "Footer"
        name: "footer"
        fields:
          - *invitationText
          - *address
          - *facebook
          - *twitter
          - *email
          - *emailSubscriptionText
          - *emailSubscriptionLink
          - *copyright
          - *notes
      - file: "frontend/src/pages/header-and-footer/buttons/get-involved.md"
        label: "Get Involved"
        name: "get-involved"
        fields:
          - *text
          - *internalLink
          - *notes
      - file: "frontend/src/pages/header-and-footer/buttons/apply-to-trade.md"
        label: "Apply to Trade"
        name: "apply-to-trade"
        fields:
          - *text
          - *internalLink
          - *notes
  - label: Site Navigation
    name: navbar
    delete: false
    folder: frontend/src/pages/navbar/
    description: Customise which pages appear in each dropdown menu in the Navigation Bar
    summary: "Dropdown: {{title}}"
    fields:
      - *menuTitle
      - *pageTitles
      - *notes
  - label: Cookies and Privacy
    name: privacy
    delete: false
    description: Edit the cookies banner and privacy policy page
    files:
      - file: "frontend/src/pages/privacy/index.md"
        label: "Privacy Page"
        name: "privacy-page"
        fields:
          - {<<: *key, default: about-page}
          - *title
          - *subtitle
          - *hero
          - *body
      - file: frontend/src/pages/privacy/cookies.md
        label: Cookies Banner
        name: cookies
        fields:
          - *cookiesPrimaryText
          - *cookiesSecondaryText
          - *accessibleImage
          - *cookiesButtons
