/* All variables MUST be defined before import statement(s) to avoid Bulma overwriting */
  
// Colours from design mock-up
$red: #ae1414
$black: #1d1d1d

$primary: $red
$secondary: $black


/* Bulma provides default styling (can be imported in separate modules as required) */
@import "bulma"


/* Class styling */
