/* All variables MUST be defined before import statement(s) to avoid Bulma overwriting */
  
// Colours from design mock-up
$red: #ae1414;
$black: #1d1d1d;

$primary: $red;
$secondary: $black;

$title-color: $primary;
$subtitle-color: $secondary;

$radius-small: 0px;
$radius: 0px;
$radius-large: 0px;
// is-secondary doesn't produce any effect without this
$custom-colors: ( 
    "secondary": $secondary
);

$navbar-padding-vertical: 0;
$navbar-padding-horizontal: 0;
$navbar-height: 70px;
$navbar-item-img-max-height: 70px;
$navbar-breakpoint: 1216px;

$section-padding: 0 1.5rem;

/* Bulma provides default styling (can be imported in separate modules as required) */
@import "bulma";

/* Class styling */
@media(max-width: $tablet){
    .columns{ 
        &.reverse-columns {
            flex-direction: column-reverse;
            display: flex;
        }
    }
}

.calendar-day {
    height: 170px;
    background-size: cover;
}
    
.scrapbook-image {
    margin-top: auto;
}

// Allows navbar dropdowns to work in Edge
@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}

.hero {
    &.has-background {
        position: relative;
        overflow: hidden;
        height: 30vh;
    }
}

// Remove padding in navbar dropdowns
.navbar-dropdown {
    .navbar-item {
        padding: 0;
    }
}

// Social media link colours
// Taken from https://www.materialui.co/socialcolors
a:link, a:visited {
    &.facebook-colour {
        color: #3b5999;
    }
    &.twitter-colour {
        color: #55acee;
    }
}

// Same colours as above, darkened slightly
a:hover, a:active {
    &.facebook-colour {
        color: #2e467a;
    }
    &.twitter-colour {
        color: #4890c7;
    }
}

// Padding after title and subtitle
.titles {
    padding-bottom: 1.5rem;
}

// Make strawberry cards/tiles square on desktop
.strawberry-square {
    width: 15rem;
    height: 0;
    padding-bottom: 15rem;
}
