/* All variables MUST be defined before import statement(s) to avoid Bulma overwriting */
  
// Colours from design mock-up
$red: #ae1414;
$black: #1d1d1d;
$light-grey: #f3f3f3;

$primary: $red;
$secondary: $black;

$title-color: $primary;
$subtitle-color: $secondary;

$radius-small: 0px;
$radius: 0px;
$radius-large: 0px;
// is-secondary doesn't produce any effect without this
$custom-colors: ( 
    "secondary": $secondary,
    "light-grey": $light-grey
);

$navbar-padding-vertical: 0;
$navbar-padding-horizontal: 0;
$navbar-height: 70px;
$navbar-item-img-max-height: 70px;
$navbar-breakpoint: 1216px;
$navbar-item-hover-color: $primary;
$navbar-dropdown-arrow: $primary;

$section-padding: 0 1.5rem;

$tabs-link-active-color: $primary;

/* Bulma provides default styling (can be imported in separate modules as required) */
@import "bulma";

/* Class styling */
@media(max-width: $tablet){
    .columns{ 
        &.reverse-columns {
            flex-direction: column-reverse;
            display: flex;
        }
    }
}

.calendar-day {
    height: 170px;
    background-size: cover;
}
    
.scrapbook-image {
    margin-top: auto;
}

// Allows navbar dropdowns to work in Edge
@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}

.hero {
    &.has-background {
        position: relative;
        overflow: hidden;
        height: 40vh;
    }
}

// Remove padding in navbar dropdowns
.navbar-dropdown {
    .navbar-item {
        padding: 0;
    }
}

// Social media link colours
// Taken from https://www.materialui.co/socialcolors
a:link, a:visited {
    &.facebook-colour {
        color: #3b5999;
    }
    &.twitter-colour {
        color: #55acee;
    }
}

// Same colours as above, darkened slightly
a:hover, a:active {
    &.facebook-colour {
        color: #2e467a;
    }
    &.twitter-colour {
        color: #4890c7;
    }
}

// Padding after title and subtitle
.titles {
    padding-bottom: 1.5rem;
}

// Make strawberry cards/tiles square on desktop
$strawberry-card-size: 14rem;
.strawberry-square {
    width: $strawberry-card-size;
    height: 0;
    padding-bottom: $strawberry-card-size - $box-padding;
}

.is-viewport-width {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.add-margin-top {
    margin-top: 0.6rem;
}

.calendar.panel .modal.is-active .media.event:nth-child(even),.upcoming.panel>.panel-block:not(.filter):nth-child(even) {
    background-color: $light-grey;
}

// Calendar day pencil circle 'today' indicator
.pencil-circle {
    position: absolute;
    top: -1.1rem;
    left: -0.75rem;
}

.month-scrubber {
    width: 22rem;
    margin-bottom: 1rem;
    text-align: center;
    .title {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
}

.month-scrubber-mobile {
    @extend .month-scrubber;
    width: 17rem;
}
