/* All variables MUST be defined before import statement(s) to avoid Bulma overwriting */
  
// Colours from design mock-up
$red: #ae1414;
$black: #1d1d1d;

$primary: $red;
$secondary: $black;

$title-color: $primary;
$subtitle-color: $secondary;

$radius-small: 0px;
$radius: 0px;
$radius-large: 0px;

/* Bulma provides default styling (can be imported in separate modules as required) */
@import "bulma";

/* Class styling */
@media(max-width: $tablet){
    .columns{ 
        &.reverse-columns {
            flex-direction: column-reverse;
            display: flex;
        }
    }
}

.calendar-day {
    height: 170px;
    background-size: cover;
}
    
.scrapbook-image {
    margin-top: auto;
}

#root-layout {
    padding-top: 60px;
}

// Allows navbar dropdowns to work in Edge
@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}

.hero {
    &.has-background {
        position: relative;
        overflow: hidden;
        height: 30vh;
    }
}
